### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Скомпилитрованные классы
*.class
.idea/
*.iml

### Папка сборки
out/

# Служебные папки курса
__Test__*/
__Test__Implementor__*/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Maven / Gradle (на будущее)
target/
build/
.gradle/

# Логи
*.log